{-# LANGUAGE OverloadedStrings #-}

module Keys where

import Network.OAuth.OAuth2

weiboKey :: OAuth2
weiboKey = OAuth2 { oauthClientId = "xxxxxxxxxxxxxxx"
                   , oauthClientSecret = "xxxxxxxxxxxxxxxxxxxxxx"
                   , oauthCallback = Just "http://127.0.0.1:9988/oauthCallback"
                   , oauthOAuthorizeEndpoint = ""
                   , oauthAccessTokenEndpoint = ""
                   , oauthAccessToken = Nothing
                   }

googleKey :: OAuth2
googleKey = undefined

githubKey :: OAuth2
githubKey = undefined