dist
*.o
*.hi
log
cabal-dev*
.cabal-sandbox
cabal.sandbox.config
*.bak
.stack-work
TAGS
.DS_Store
.ghc.environment.x86_64*
dist-newstyle
cabal.project.local
cabal.project.local~
result
report.html

.env.json
dev.org
refs.dot
.hiedb
.google-sa.json
.okta-key.json
