<html>
    <body>
        <h1>Hello OAuth2</h1>
        {{#idps}}
        <section class="login-with">

            {{^isLogin}}
            <a href="{{codeFlowUri}}">Login {{name}}</a>
            {{/isLogin}}

            {{#isLogin}}
            <h2>welcome to {{name}}</h2>
            {{#user}}
            <div class="result">Hello, {{name}}</div>
            {{/user}}
            <a href="/logout?idp={{name}}">Logout</a>
            {{/isLogin}}

        </section>
        {{/idps}}
    </body>
</html>
