name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: haskell/actions/setup@v1
        with:
          ghc-version: "8.10.7"
          cabal-version: "3.6"

      - uses: actions/cache@v2.1.3
        name: Caching
        with:
          path: |
            ~/.cabal/packages
            ~/.cabal/store
            dist-newstyle
          key: ${{ runner.os }}-build-${{ hashFiles('**/*.cabal') }}

      - name: Install dependencies
        run: |
          cabal v2-update
          cabal v2-build --only-dependencies --enable-tests

      - name: Build
        run: make build

