name: Lint
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  hlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: "Set up HLint"
        uses: haskell-actions/hlint-setup@v2
        with:
          version: '3.6'

      - name: "Run HLint"
        uses: haskell-actions/hlint-run@v2
        with:
          path: '["hoauth2/src/", "hoauth2-tutorial/src", "hoauth2-providers/src", "hoauth2-providers-tutorial/src"]'
          fail-on: warning
