name: lint
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  hlint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: 'Set up HLint'
      uses: haskell/actions/hlint-setup@v1
      with:
        version: '3.3.4'

    - name: 'Run HLint'
      uses: haskell/actions/hlint-run@v1
      with:
        path: src/ example
        fail-on: warning
