name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ghc: ['9.2.4', '8.10.7']
        cabal: ['3.6']
    name: Test hoauth2 on GHC ${{ matrix.ghc }}

    steps:
      - uses: actions/checkout@v3
      - uses: haskell/actions/setup@v2
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: ${{ matrix.cabal }}
      - uses: actions/cache@v3
        name: Caching
        with:
          path: |
            ~/.cabal/packages
            ~/.cabal/store
            dist-newstyle
          key: ${{ runner.os }}-build-ghc-${{ matrix.ghc }}-${{ hashFiles('**/*.cabal') }}

      - name: Install dependencies
        run: |
          cabal update
          cabal build --only-dependencies --enable-tests all

      - name: Test
        run: cd hoauth2 && cabal test
